COMPOSE_PROJECT_NAME=tekdocs
POSTGRES_DB=tekdocs
POSTGRES_USER=tekdocs
POSTGRES_PASSWORD=generate-with-make-bootstrap
DJANGO_SECRET_KEY=generate-with-make-bootstrap
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,frontend
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3200
TEKDOCS_MASTER_KEY=generate-with-make-bootstrap
TEKDOCS_PUBLICATION_SIGNING_KEY=generate-with-make-bootstrap
TEKDOCS_BOOTSTRAP_TOKEN=generate-with-make-bootstrap
SECURE_SSL_REDIRECT=false
TZ=America/Chicago
